# .gitignore

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/


# --- Banco de Dados (Segurança de Governança) ---
src/data/
src/data/*.db
src/data/*.db-journal

# --- Logs e Auditoria ---
logs/
logs/*.log
logs/*.json

# --- Poetry ---
.pytest_cache/
dist/

# --- VS Code / IDEs ---
.vscode/
.idea/
.DS_Store

# --- Others ---
Pensamentos.md
src.txt
Estruturadearquivos.txt
